body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: url("../images/white-wood.jpg") no-repeat fixed;
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, #FFF, rgb(138, 135, 135))
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #bdbd02;
  box-shadow:  -1px 1px #bdbd02, -2px 2px#bdbd02, -3px 3px #bdbd02, -4px 4px #bdbd02, -5px 5px #bdbd02; 
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #c91313;
  box-shadow:  -1px 1px #c91313, -2px 2px #c91313, -3px 3px #c91313, -4px 4px #c91313, -5px 5px #c91313; 
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
